<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons end>
    <button (click)="navSearch()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="home">
  <div class="header">
    Air-Note Header
  </div>
  <div>Current User: {{currentUser.email}}</div>
  <!--<div padding>-->
    <!--date: {{today}}-->
    <!--<br>-->
    <!--time: {{today}}-->
  <!--</div>-->
  <!--example using async pipe-->
  <!-- <div>
  {{userPipe | async}}
  </div> -->

  <div padding>
    <ion-segment [(ngModel)]="homeTab">
      <ion-segment-button value="notes">
        Notes
      </ion-segment-button>
      <ion-segment-button value="groups">
        My Groups
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- content switch -->
  <div [ngSwitch]="homeTab">

    <!-- recent notes list -->
    <ion-list *ngSwitchWhen="'notes'">
      <button *ngFor="#note of notesData$" ion-item (click)="navNote(note)">
        <h2>{{note.client}}
          <!--<span style="font-size:11px;">{{note.date | date}}, {{note.date | date:'shortTime'}}</span>-->
        </h2>
        <h5>{{note.category}}</h5>
        <p>{{note.message}}</p>
      </button>
    </ion-list>

    <!-- groups list -->
    <ion-list *ngSwitchWhen="'groups'">
      <button *ngFor="#group of groupData$" ion-item (click)="navGroup(group)">
        <h2>{{group.client}}</h2>
      </button>
    </ion-list>
  </div>

</ion-content>
